<ion-view view-title="" id="home_page">

  <ion-nav-bar>
    <ion-nav-buttons side="left">
      <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
    </ion-nav-buttons>

    <ion-nav-buttons side="right">
      <button class="button button-clear"><img src="img/imgo.jpg" alt="Logo" class="profile_page_logo"/></button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content class="bg_white">
    <h3 class="text-center padding">Home page</h3>
    <p class="text-center">Select side menu for more options.</p>
  </ion-content>
</ion-view>
