
<ion-view view-title="" id="login_page">

  <ion-nav-bar>
    <ion-nav-buttons side="left">
      <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
    </ion-nav-buttons>

    <ion-nav-buttons side="right">
      <button class="button button-clear"><img src="img/imgo.jpg" alt="Logo" class="profile_page_logo"/></button>
    </ion-nav-buttons>
  </ion-nav-bar>

  <ion-content class="bg_white">
    <h4 class="text-center">Login</h4>

    <form ng-submit="loginMe(user)" name="loginform">
      <div class="list">
        <label class="item item-input item-floating-label">
          <span class="input-label">Email</span>
          <input type="text" placeholder="Email" ng-model="user.email" name="email"
                 ng-pattern="/^[a-z.]+[a-z0-9._%+-]*@[a-z]+[a-z0-9.-]*\.[a-z]{2,4}$/" required="">
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">Password</span>
          <input type="password" placeholder="Password" ng-model="user.password" required="" name="password">
        </label>

        <div class="padding error_message">
        <div>
          <span class="" ng-show="loginform.email.$dirty && loginform.email.$error.pattern">Please enter a valid email id.</span> &nbsp;
          <span class="" ng-show="loginform.password.$dirty && loginform.password.$error.required">Please enter password.</span>
          <p class="" ng-show="login_error">Error while logging in. Please check you credentials.</p>
        </div>
        </div>
        <div class="text-center" ng-show="loading"><ion-spinner icon="ios-small"></ion-spinner></div>
        <button class="button button-full button-positive" ng-disabled="!loginform.$valid" ng-show="!loading">Login</button>
        <div>
          <a href="#" class="button-clear color_blue">Forgot Password</a>
          <a href="#/app/signup" class="button-clear color_blue">Signup</a>
        </div>
      </div>

    </form>
  </ion-content>
</ion-view>
