<script id="my-modal.html" type="text/ng-template">
  <div class="modal image-modal transparent" ng-click="closeModal()">
    <img ng-src="{{profile_image}}" class="fullscreen-image"/>
  </div>
</script>

<ion-view view-title="" id="profile_page">

  <ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
    <div class="item-input item_input">
      <select ng-model="selected_category"
              ng-options="category.name_ru for category in categories_list track by category.id"
              class="header_select" ng-change="categoryChanged(selected_category)">
        <option value="">All</option>
      </select>
      <i class="ion-arrow-down-b" style="padding-left: 55px; color: #fff;"></i>
    </div>
  </ion-nav-buttons>

  <ion-nav-buttons side="right">
    <button class="button button-clear"><img src="img/imgo.jpg" alt="Logo" class="profile_page_logo"/></button>
    <button class="button button-clear button-icon ion-android-notifications"
            style="padding-left: 20px; color: #fff;"></button>
  </ion-nav-buttons>

  <ion-content class="padding bg_white">
    <div>
      <div class="list">
        <div class="item item-thumbnail-left" style="padding-bottom: 2px;">
          <img
              ng-src="http://lifehacks.kz/assets/user_profile_images/50255a87dd6ce79b89e2caf2235900cca222a1242ae98feacacb74e0c45eb2e4_small.jpg"
              class="" ng-click="openModal()"/>

          <h2 ng-bind="profile_details.username"></h2>

          <p ng-bind="profile_details.about_me">I am a life hacks user</p>

          <p class="row">
            <span class="col col-50" style="padding-top: 20px;" ng-bind="profile_details.amifollower"></span>
        <span class="col col-50">
          <button class="button button-positive button-block button-small">
            Follow
          </button>
        </span>
          </p>
        </div>
      </div>
    </div>

    <div id="profile_tabs">
      <div class="row text-center" style="padding: 15px 0 0 0;">
        <div class="col col-50" ng-class="{'profile_tab_active' : lifeHacks_active, 'profile_tab_inactive' : !lifeHacks_active}" ng-click="getLifeHacks()">Lifehacks</div>
        <div class="col col-50" ng-class="{'profile_tab_active' : !lifeHacks_active, 'profile_tab_inactive' : lifeHacks_active}" ng-click="getLiked()">Liked</div>
      </div>
    </div>
    <div id="lifehack_users" ng-show="lifeHacks_active">
      <div ng-include src=" 'templates/profile-lifehacks.html' "></div>
    </div>
    <div id="liked_users" ng-hide="lifeHacks_active">
      <div ng-include src=" 'templates/profile-liked.html' "></div>
    </div>
  </ion-content>
</ion-view>
