<div class="list card height_initial">
  <div class="item item-avatar">
    <img src="http://lorempixel.com/100/120/sports">

    <h2>Life hacks User 1</h2>

    <p>Software</p>
  </div>

  <div class="item item-body">
    <p class=""><span class="color_grey">2015-04-06 20:23:24</span> - <a href="#">user</a></p>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate dolorum eaque eum in ipsum? Aliquid animi
      consequuntur debitis, ea et, excepturi molestias nostrum perferendis placeat porro provident repellat rerum
      sequi.</p>
  </div>

  <div class="item tabs tabs-icon-left border_top_grey">
    <a class="tab-item" href="#">
      <i class="icon ion-share"></i>
      Share
    </a>
  </div>
</div>

<div class="list card height_initial">
  <div class="item item-avatar">
    <img src="http://lorempixel.com/100/120/sports">

    <h2>Life hacks User 2</h2>

    <p>Software</p>
  </div>

  <div class="item item-body">
    <p class=""><span class="color_grey">2015-04-06 20:23:24</span> - <a href="#">user</a></p>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate dolorum eaque eum in ipsum? Aliquid animi
      consequuntur debitis, ea et, excepturi molestias nostrum perferendis placeat porro provident repellat rerum
      sequi.</p>
  </div>

  <div class="item tabs tabs-icon-left border_top_grey">
    <a class="tab-item" href="#">
      <i class="icon ion-share"></i> Share
    </a>
  </div>
</div>
