<ion-view view-title="" class="profile_page">

  <ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
    <div class="item-input item_input ">
      <select class="header_select">
        <option selected>Zhanibek</option>
        <option >Yernar</option>
      </select>
      <i class="ion-arrow-down-b" style="padding-left: 55px"></i>
    </div>
  </ion-nav-buttons>

  <ion-nav-buttons side="right">
    <button class="button button-clear"><img src="img/imgo.jpg" alt="Logo" class="profile_page_logo"/></button>
    <button class="button button-clear button-small ion-android-notifications" style="padding-left: 20px"></button>
  </ion-nav-buttons>

  <ion-content class="padding bg_white">
    <div class="row">
      <div class="col col-33">
        <img src="http://lorempixel.com/100/120/sports" class="responsive_image"/>
      </div>
      <div class="col col-67 padding_left_15px">
        <div class="row">
          <h3 class="profile_name">User 123</h3>
        </div>
        <div class="row">
          <div class="color_grey">
            I am a life hacks user
          </div>
        </div>
        <div class="row">
          <div class="col col-50 color_grey line_height_3">256 LFs</div>
          <div class="col col-50">
            <button class="button button-positive button-block button-small">
              Follow
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="row padding_top_10px profile_tabs border_top_grey">
      <ion-tabs class="tabs-striped padding_top_50px">
        <ion-tab title="lifehacks" href="#/app/profile/lifehacks">
          <ion-nav-view name="tab-lifehacks" class="margin_top_10px"></ion-nav-view>
        </ion-tab>
        <ion-tab title="liked" href="#/app/profile/liked">
          <ion-nav-view name="tab-liked" class="margin_top_10px"></ion-nav-view>
        </ion-tab>
      </ion-tabs>
    </div>

  </ion-content>
</ion-view>
